<html>
    <body>
        <div style="width:1000px; margin:0 auto;">
            <div style="width:1000px; margin:0 auto; background-color:rgb(175, 141, 207); color:white; font-size:30px;">Register to Twitter</div>
            <h3><%=msg%></h3>
            <form action = "/reg_submit" method="post">
                <table align="center" border="1" width="400">
                    <tr>
                        <td>Enter Firstname</td>
                        <td><input type="text" name="fname"/></td>
                    </tr>
                    <tr>
                        <td>Enter Middlename</td>
                        <td><input type="text" name="mname"/></td>
                    </tr>
                    <tr>
                        <td>Enter Lastname</td>
                        <td><input type="text" name="lname"/></td>
                    </tr>
                    <tr>
                        <td>Enter Email or Mobile Number</td>
                        <td><input type="text" name="email"/></td>
                    </tr>
                    
                    <tr>
                        <td>Enter Password</td>
                        <td><input type="password", name="pass"/></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td><input type="password", name="cpass"/></td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td><input type="date", name="dob"/></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <label for="male">
                                <input type="radio" name="gender" value="0"/>
                                Male
                            </label>
                            <label for="female">
                                <input type="radio" name="gender" value="1"/>
                                Female
                            </label>
                            <label for="dnd">
                                <input type="radio" name="gender" value="2"/>
                                Don't want to disclose
                            </label>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>Enter Username</td>
                        <td><input type="text" name="username"/></td>
                    </tr>                    
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Register"/></td>
                    </tr>
                </table>
            </form>
<div>
    <a href="/">Already have an account click to login</a>
</div>
        </div>
    </body>
</html>